<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 스프링 프로파일을 사용하여 환경별로 다른 로깅 설정을 적용할 수 있습니다 -->
    <springProfile name="default">
        <!-- 콘솔 로거 설정 -->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <!-- 파일 로거 설정 -->
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/spring-boot-application.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 일별 로그 파일 생성 -->
                <fileNamePattern>logs/spring-boot-application.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 최대 보관 기간 설정 (10일) -->
                <maxHistory>10</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <!-- 루트 로거 설정 -->
        <root level="info">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </root>
    </springProfile>

    <springProfile name="local">
        <!-- 개발 환경 로거 설정 -->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="DEBUG">
            <appender-ref ref="console" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <!-- 개발 환경 로거 설정 -->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="debug">
            <appender-ref ref="console" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <!-- 운영 환경 로거 설정 -->
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/spring-boot-application.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/spring-boot-application.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="file" />
        </root>
    </springProfile>
</configuration>
